/* リセットスタイル */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* グローバルスタイル */
body {
  background-color: #f5f5f5;
  color: #3a3a3a;
  body {
    /* NOTE: https://ics.media/entry/200317/ */
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      "BIZ UDPGothic",
      Meiryo,
      sans-serif;
  }
}

/* ヘッダー */
/* プロパティはアルファベット順で記載する */

.header__wrapper {
  align-content: center;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  height: 40vh;
  min-height: 200px;
}

.header__background {
  background-image: url('../images/header__background.jpg');
  background-position: center;
  background-size: cover;
}

.header__item {
  align-items: center;
  display: flex;
}

.header__profile-image {
  border-radius: 50%;
  height: 140px;
  object-fit: cover;
  width: 140px;
}

.header__information {
  margin-left: 1rem;
}

.header__name {
  color: white;
  font-size: xxx-large;
  font-weight: bold;
}

.header__description {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 6fr; /* font awesomeと文章の間隔がちょうど良い幅になるため */
}

.header__location-icon,
.header__pc-icon {
  align-content: center;
  color: white;
}

.header__address,
.header__job {
  align-content: center;
  color: white;
  font-weight: bold;
}

/* 職務要約 */
.job_summary__wrapper {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.job_summary__title {
  font-size: xx-large;
  font-weight: bold;
}
.job_summary__content ul li {
  line-height: 1.5rem;
  padding: 0.5rem 0;
  font-size: large;
  list-style-type: none;
}

/* タイムライン */
.timeline__wrapper {
  align-content: center;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
}
.timeline-title {
  font-size: xx-large;
  font-weight: bold;
}
.timeline {
  margin-top: 30px;
  list-style: none;
  position: relative;
}
/* タイムラインのライン */
.timeline::before {
  content: '';
  height: 100%;
  position: absolute;
  width: 1px;
  background: gray;
  margin-left: 30px;
}
.timeline > li {
  position: relative;
  margin-bottom: 15px;
}
/* タイムラインのアイコン */
.timeline > li .timeline__icon {
  background-color: gray;
  height: 60px;
  position: relative;
  width: 60px;
  border-radius: 50%;
}
/* ビルのアイコン専用の設定 */
/* NOTE：異なるアイコンを使う場合は都度設定値を変更 */
.timeline > li .timeline__icon i__building {
  color: white;
  font-size: xx-large;
  position: absolute;
  transform: translate(75%, 45%);
}
/* ビーチパラソルのアイコン専用の設定 */
.timeline > li .timeline__icon i__umbrella-beach {
  color: white;
  font-size: xx-large;
  position: absolute;
  transform: translate(35%, 40%);
}
/* コードのアイコン専用の設定 */
.timeline > li .timeline__icon i__code {
  color: white;
  font-size: xx-large;
  position: absolute;
  transform: translate(28%, 45%);
}
/* 飛行機のアイコン専用の設定 */
.timeline > li .timeline__icon i__plane {
  color: white;
  font-size: xx-large;
  position: absolute;
  transform: translate(40%, 45%);
}
/* 学校のアイコン専用の設定 */
.timeline > li .timeline__icon i__school {
  color: white;
  font-size: xx-large;
  position: absolute;
  transform: translate(26%, 40%);
}
/* タイムラインの詳細 */
.timeline > li .timeline__discription {
  font-size: 1.2em;
  margin-left: 65px;
  margin-top: -55px;
  position: relative;
}
.timeline__heading {
  align-items: center;
  display: flex;
}
.timeline__title {
  font-size: x-large;
  font-weight: bold;
}
.timeline__term {
  color: gray;
  font-weight: bold;
  margin-left: 10px;
}
.timeline__year-month {
  color: gray;
  font-size: small;
  padding-left: 2px;
}
.timeline__text {
  margin-top: 10px;
  padding-left: 20px;
}

/* 業務経験 */
.work_experience__modal-open {
  cursor:pointer;
  font-size: large;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.work_experience__modal-open--non-cursor {
  font-size: large;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.work_experience__modal {
  background-color: rgba(0,0,0,50%);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  padding: 100px 20px;
  position: fixed;
  text-align: center;
  top: 0;
  transition: .3s;
  visibility: hidden;
  width: 100%;
}
.work_experience__modal.is-active{
  opacity: 1;
  visibility: visible;
  z-index: 100;
}
.work_experience__modal-container{
  display: inline-block;
  min-width: 300px;
  position: relative;
  vertical-align: middle;
  width: 70%;
}
.work_experience__modal-content{
  background: #fff;
  line-height: 1.8;
  padding: 40px;
  text-align: left;
}
.work_experience__modal-content ul{
  margin-left: 20px;
}
.work_experience__contener {
  display: flex;
  flex-wrap: wrap;
}
.work_experience__skillcard {
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 5px #ccc;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 20px;
  position:relative;
  width: 200px;
}

/* スキル */
.skillcard__wrapper{
  align-content: center;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.skillcard-title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 1rem;
}
.skillcard__contener {
  display: flex;
  flex-wrap: wrap;
}
.skillcard {
  background-color: white;
  box-shadow: 0 2px 5px #ccc;
  height: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  position:relative;
  width: 150px;
}
.skillcard__image {
  height: 50px;
  mix-blend-mode: multiply;
  object-fit: cover;
  position:absolute;
  transform: translate(100%, 60%);
  width: 50px;
}
.skillcard__content {
  display: flex;
  position: absolute;
  transform: translate(55%, 400%);
}
/* ステップバー */
.progressbar__item {
  background-color: #ccc;
  height: 20px;
  margin: 2px;
  width: 20px;
}
.progressbar__item-active {
  background-color: orange;
  height: 20px;
  margin: 2px;
  width: 20px;
}

/* フッター */
.footer__wrapper {
  align-items: center;
  background-color: #ccc;
  display: flex;
  height: 10rem;
  justify-content: center;
  position: sticky;
  top: 100vh;
  width: 100%;
}

/* 資格 */
.certification__wrapper {
  align-content: center;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.certification-title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 1rem;
}
.certification__contener {
  display: flex;
  flex-wrap: wrap;
}
.certification__card {
  background-color: white;
  box-shadow: 0 2px 5px #ccc;
  height: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  position:relative;
  width: 150px;
}
.certification__image {
  height: 50px;
  mix-blend-mode: multiply;
  object-fit: cover;
  position:absolute;
  transform: translate(100%, 60%);
  width: 50px;
}
.certification__content {
  display: flex;
  position: absolute;
  transform: translate(40%, 350%);
}
.certification__year-month {
  font-size: large;
  font-weight: bold;
}
