.header__wrapper {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
}

.header__background {
  background-image: url('/images/header__background.jpg');
  background-size: cover;
  background-position: center;
}

.header__profile-icon {
  width:         150px;
  height:        150px;
  border-radius: 50%;
  object-fit:    cover;
}
